html, body{
  height:100%;
}

body{
  background-image: url("../images/Sports.jpg");
  text-align: center;

}

#wrapper{
  padding: 5% 15%;
  background-color: white;
  width:760px;
  margin:5% auto;
  box-sizing: border-box;
  min-height: 80%;
}

#subwrapper{
  position: relative;
  top:20%;
}

button{
  display:block;
  width:200px;
  height:50px;
  margin: 50px auto 0 auto;
  border-radius: 5px;
  cursor: pointer;
  background:transparent;
  font-size: 42px;
}


h1{
  font-family: 'Poppins', sans-serif;
  font-size: 3.5em;
  margin-bottom: 50px;
  font-weight: bold;
  color:#4286f4;
}

h2{
  font-size: 25px;
  margin-bottom: 25px;
}

h3{
  font-size: 25px;
  margin-bottom: 10px;
}

#start{
  margin-top: 10%;
  background-color: #4286f4;
  color: white;
  margin: auto;
  font-size: 25px;
}

#done{
  margin-top:50px;
  background-color: yellow;
  color: 0A60BA;
  margin: auto;
  font-size: 25px;
}

#quiz-area h2{
  margin-top: 50px;
}

button:hover {
  border: 5px solid grey;
  
}

.radio{
margin-top: 50px;
}
